<div class="header">Lets connect Ang-java-jenkins-github-terraform</div>
<div class="card flex justify-center">
  <p-button label="Check"  />
</div>

<br>
<br>
<br>
<br>

<div class="flex items-center">
  <p-checkbox inputId="ingredient1" name="pizza"value="Cheese" [(ngModel)]="pizza" />
  <label  class="ml-2"> Angular </label>
</div>
<div class="flex items-center">
  <p-checkbox inputId="ingredient2" name="pizza" value="Mushroom" [(ngModel)]="pizza" />
  <label  class="ml-2"> Java </label>
</div>
<div class="flex items-center">
  <p-checkbox inputId="ingredient3" name="pizza" value="Pepper" [(ngModel)]="pizza" />
  <label class="ml-2"> Jenkins </label>
</div>
<div class="flex items-center">
  <p-checkbox inputId="ingredient4" name="pizza" value="Onion" [(ngModel)]="pizza" />
  <label class="ml-2"> Git </label>
</div>

<div class="flex items-center">
  <p-checkbox inputId="ingredient4" name="pizza" value="Onion" [(ngModel)]="pizza" />
  <label class="ml-2"> /github-webhook/ </label>
</div>
